source .env

PATH_add "node_modules/.bin"

# export NODE_OPTIONS="--loader tsx"
# export NODE_INSPECT_OPTIONS="--port 0 --inspect-resume-on-start true"
export NODE_INSPECT_OPTIONS="--inspect-resume-on-start=true --pause-on-exception-state=none"
export LOG_LEVEL=info